body {
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.clickable {
  cursor: pointer;
}

.expand-out {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#app {
  border-top: 4px solid rgb(64, 169, 243);
}

#footer {
  border-bottom: 4px solid rgb(64, 169, 243);
}

#header {
  background: black;
  color: white;
}

#editor-sidebar {
  background: #535353;
  overflow: auto;
  flex-basis: 250px;
  flex-grow: 0;
  flex-shrink: 0;
}

#editor-sidebar-header {
  background: black;
  padding: 0 10px;
  color: white;
}

#primary-content {
  padding: 100px 50px;
  border-bottom: 4px solid #efe844;
}

#primary-content-banner {
  border-left: 4px solid #efe844;
  padding: 10px;
  line-height: 2rem;
  font-size: 1.5rem;
}

#primary-cta-container {
  padding: 20px 10px;
}

.primary-btn {
  background: transparent;
  border: 4px solid gold;
  padding: 5px 20px;
  text-decoration: none !important;
  border-radius: 20px;
}

#header #author-link {
  float: right;
  color: #efe844;
  line-height: 40px;
  padding: 0 10px;
  text-decoration: none !important;
}

#header #primary-title {
  line-height: 40px;
  background: rgb(64, 169, 243);
  display: inline-block;
  margin: 0 10px;
  padding: 0 10px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

#playground-row {
  max-width: 100%;
  overflow: hidden;
}

#playground-row,
#playground {
  display: flex;
  flex-direction: row;
  height: 500px;
  flex-grow: 1;
  flex-shrink: 1;
}

.playground-pane {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  overflow: hidden;
  position: relative;
}

.playground-pane > div {
  overflow: auto;
}

#editor-pane {
  border-right: 1px solid silver;
  cursor: text;
}

#editor-pane-static-pre {
  background: lemonchiffon;
  padding: 10px;
  margin: 0;
  overflow: visible;
  border-bottom: 1px solid #efe844;
  font-size: 13px;
}

.code-block-tab-body {
  font-size: 13px;
  flex-grow: 1;
}

#preview-pane {
  overflow: auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}

#editor-tabber {
  display: flex;
  flex-direction: row;
  background: black;
  border-bottom: 4px solid rgb(64, 169, 243);
  border-top: 4px solid black;
}

#editor-title {
  background: black;
  color: white;
  line-height: 34px;
  flex-grow: 1;
  padding: 0 10px;
}

#editor-tabber .tabbar {
  margin-right: 10px;
}

.tabbar {
  display: flex;
  flex-direction: row;
}

.tabbar > .tab {
  line-height: 34px;
  background: rgb(49, 128, 183);
  color: white;
  padding: 0 10px;
  margin-right: 5px;
}

.tabbar > .tab.active {
  background: rgb(64, 169, 243);
}

.CodeMirror {
  height: auto;
}

#editor-sidebar-header {
  line-height: 40px;
}

#editor-sidebar label {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #ddd;
  padding: 5px 10px;
}
